.floating {
  position: absolute;
}
.z-neg {
  z-index: -1;
}

.top-5 {
  top: -5%;
}
.top-10 {
  top: -10%;
}
.left-5 {
  left: -5%;
}
.left-10 {
  left: -10%;
}
.bottom-5 {
  bottom: -5%;
}
.bottom-10 {
  bottom: -10%;
}
.right-5 {
  right: -5%;
}
.right-10 {
  right: -10%;
}
.middle {
  top: 40%;
}
.middle-2 {
  top: 60%;
}
